<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuepong.workflow.mapper.SysFlowExtMapper">
    <resultMap id="BaseResultMap" type="com.yuepong.workflow.dto.SysFlowExt">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <id column="h_id" property="hId" jdbcType="VARCHAR"/>
        <id column="node" property="node" jdbcType="VARCHAR"/>
        <id column="node_type" property="nodeType" jdbcType="VARCHAR"/>
        <id column="node_skip" property="nodeSkip" jdbcType="VARCHAR"/>
        <id column="field" property="field" jdbcType="VARCHAR"/>
        <id column="conditions" property="conditions" jdbcType="VARCHAR"/>
        <id column="value" property="value" jdbcType="VARCHAR"/>
        <id column="operation" property="operation" jdbcType="VARCHAR"/>
        <id column="oper_name" property="operName" jdbcType="VARCHAR"/>
        <id column="user_type" property="userType" jdbcType="VARCHAR"/>
        <id column="next_node" property="nextNode" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findNodesByHID" resultType="com.yuepong.workflow.dto.SysFlowExt">
        select * from s_sys_flow_b where h_id = #{hid}
    </select>
</mapper>