<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuepong.workflow.mapper.SysFlowMapper">
    <resultMap id="BaseResultMap" type="com.yuepong.workflow.dto.SysFlow">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="sys_model" property="sysModel" jdbcType="VARCHAR"/>
        <result column="sys_disable" property="sysDisable" jdbcType="TINYINT"/>
        <result column="flow_id" property="flowId" jdbcType="VARCHAR"/>
        <result column="deployment_id" property="deploymentId" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        sys_model,
        sys_disable,
        flow_id,
        deploymentId
    </sql>

</mapper>